body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px 20px 50px;
  border-bottom: 1px solid orange;
}

nav ul {
  display: flex;
  gap: 50px;
  
}

nav li{
  list-style: none;
}

.skillList ul{
  display: flex;
  gap: 50px;
  justify-content: center;
  list-style: none;
}

.skillList ul button {
  padding: 20px 25px;
  border: solid 2px orange;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.skillList ul button:hover {
  background-color: orange;
  transition: 0.7s;
}

.welcomeFlex {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.welcomeFlex div {
  width: 50%;
}